 <div class="prods">
    <img src="@product.Image" class="card-img-top" alt="@product.Image">
    <div class="card-body">
        <h5 class="card-title">@product.Name</h5>

        <div class="card-content">
            <span>
                @product.Description
            </span>
           
            <span>
                @product.Price
            </span>
        </div>
    </div>
    </div>

@code {
    [Parameter]
    public Product product{ get; set; }


    [Parameter]
    public EventCallback<Product> onDelete { get; set; }
    public async Task Delete()
    {
        await onDelete.InvokeAsync(product);
    }
    [Parameter]
    public EventCallback<Product> onEdit { get; set; }
    public async Task Edit()
    {
        await onEdit.InvokeAsync(product);
    }
}